    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
    }  
    body {
        background: linear-gradient(45deg, #084da7, #5ae438);
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
    }
    .input-container{ 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-group{ 
        margin-bottom: 10px;
    }
    .button-container {
        display: flex;
        margin-top: 20px;
        justify-content: center;
    }
    .botones {
        margin: 0 5px;
    }
    .botones:hover{
    background-color: rgb(133, 5, 5);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    #titulo1{
        text-align: center;
    font-weight: bold;
    font-size: 60px;
    }
   
